# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
name: Run tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 24.x]
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm audit
      - run: npm run eslint
      - run: npm run typecheck
      - run: npm test
      - run: (cd release-test/server && npm ci && npm run typecheck)
      - run: npm run release-test
