# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
name: Run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]
    steps:
     - uses: actions/checkout@v2
     - name: Use Node.js ${{ matrix.node-version }}
       uses: actions/setup-node@v1
       with:
         node-version: ${{ matrix.node-version }}
     - run: npm ci
     - run: npm audit
     - run: npm run prettier:check
     - run: npm run eslint:check
     - run: npm test
     - run: npm run release-test
